body {
    background-color: rgb(223, 185, 216);
    text-align: justify;
}

h1 {
    color: #a753ba;
    text-align: center;
}

h2 {
    color: #bb87ca;
    text-align: center;
}

p {
    font-size: 30px;
}

span {
    color: #f768b3
}